extends ../../layouts/default

block main
  div.well
    ul#prompts.nav.nav-tabs
      li.active
        a(href='#brainstorm') Brainstorm
    .tab-content
      #brainstorm.tab-pane.active
        div.span3.offset1
          div.muted= essay.brainstorm[1].question
          h5.text-info= essay.brainstorm[1].answer
          div.muted= essay.brainstorm[0].question
          h4.text-info= essay.brainstorm[0].answer
          div.muted= essay.brainstorm[2].question
          h4.text-info= essay.brainstorm[2].answer
        div.span3
          div.muted= essay.brainstorm[4].question
          h4.text-info= essay.brainstorm[4].answer
          div.muted= essay.brainstorm[3].question
          h4.text-info= essay.brainstorm[3].answer
          div.muted= essay.brainstorm[5].question
          h4.text-info= essay.brainstorm[5].answer
        div.span3
          div.muted= essay.brainstorm[7].question
          h4.text-info= essay.brainstorm[7].answer
          div.muted= essay.brainstorm[6].question
          h4.text-info= essay.brainstorm[6].answer
          div.muted= essay.brainstorm[8].question
          h4.text-info= essay.brainstorm[8].answer
block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor.row
    .span7.main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='description') Choose one of your brainstorms above to turn into an essay. Write a paragraph or two of description to bring that memory to life. (Note, it's easier to write more now and edit later, so get as much description out as you can.)
          .controls
            textarea#textbox.desc.input-xlarge(type='text', rows="10", name="description")=essay.description
        .form-actions
          button.btn.btn-info.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#textbox').focus(); }