extends ../../layouts/default

block main
  ul#prompts.nav.nav-tabs
    li.active
      a(href='#brainstorm') Brainstorm
  .tab-content
    #brainstorm.tab-pane.active
      - for (item in essay.brainstorm)
        - if (essay.brainstorm[item].question)
          div.muted= essay.brainstorm[item].question
          h4.text-info= essay.brainstorm[item].answer

block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor.row
    .span7.main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='description') Describe this event in more detail:
          .controls
            textarea#input.desc.input-xlarge(type='text', rows="5", name="description")=essay.description
        .form-actions
          button.btn.btn-primary.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#input').focus(); }