extends ../layouts/default
include ../mixins/question

//block main
  p.prompt-title=title

block content
  - var action = '../answer'
  style.
    #questions {
      height: 100px;
      overflow: hidden;
    }
    #next-question { display: none; }
  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #samples-carousel.carousel.slide
    // Carousel items
    .carousel-inner
      .item.active
        .row.well.brainstorm-wrapper
          .span7.brainstorm-questions
            form(method="post", action=action, enctype="multipart/form-data")
              - var q = question
              input(type="hidden", name="id", value="#{q.id}")
              input(type='hidden', name='title', value='#{q.title}')
              mixin question(q.prompt, q.q1, q.q2, q.q3, 140)
              .center
                button#next-question.btn.btn-info(type='submit') Save and Continue
              .clear-both
    // Carousel nav
    form#prev(method="post", action='../prev')
      input(type='hidden', name='id', value='#{q.id}')
      a.carousel-control.left(data-toggle="tooltip", title="previous question", onclick='$("form#prev").submit()', href='#prev') ‹
    form#next(method="post", action='../next')
      input(type='hidden', name='id', value='#{q.id}')
      a.carousel-control.right(data-toggle="tooltip", title="skip question", onclick='$("form#next").submit()', href='#next') ›

    button#finish.btn.btn-info.pull-right(href='/users/'+req.user.id) Done brainstorming
    .clear-both