extends ../../layouts/default

block main
  div.well
    ul#prompts.nav.nav-tabs
      li
        a(href='#brainstorm') Brainstorm
      li.active
        a(href='#description', data-toggle='tab') Description
    .tab-content
      #brainstorm.tab-pane.active
        div.span3.offset1
          div.muted= essay.brainstorm[1].question
          h5.text-info= essay.brainstorm[1].answer
          div.muted= essay.brainstorm[0].question
          h4.text-info= essay.brainstorm[0].answer
          div.muted= essay.brainstorm[2].question
          h4.text-info= essay.brainstorm[2].answer
        div.span3
          div.muted= essay.brainstorm[4].question
          h4.text-info= essay.brainstorm[4].answer
          div.muted= essay.brainstorm[3].question
          h4.text-info= essay.brainstorm[3].answer
          div.muted= essay.brainstorm[5].question
          h4.text-info= essay.brainstorm[5].answer
        div.span3
          div.muted= essay.brainstorm[7].question
          h4.text-info= essay.brainstorm[7].answer
          div.muted= essay.brainstorm[6].question
          h4.text-info= essay.brainstorm[6].answer
          div.muted= essay.brainstorm[8].question
          h4.text-info= essay.brainstorm[8].answer
      #description.tab-pane.active
        h4 Description
        p= essay.description
block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor.row
    .span7.main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='context') What was the context?
          .controls
            textarea#input.desc.input-xlarge(type='text', rows="5", name="context")=essay.context
        .form-actions
          button.btn.btn-primary.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#input').focus(); }