extends ../../layouts/essay

block main
  div.well(style='min-height:300px')
    ul#myTab.nav.nav-tabs
      li
        a(href='#brainstorm', data-toggle='tab') Brainstorm
      li.active
        a(href='#description', data-toggle='tab') Description
    .tab-content
      #brainstorm.tab-pane
        div.span3
          div.muted= essay.brainstorm[1].question
          h5.text-info= essay.brainstorm[1].answer
          div.muted= essay.brainstorm[0].question
          h5.text-info= essay.brainstorm[0].answer
          div.muted= essay.brainstorm[2].question
          h5.text-info= essay.brainstorm[2].answer
        div.span3
          div.muted= essay.brainstorm[4].question
          h5.text-info= essay.brainstorm[4].answer
          div.muted= essay.brainstorm[3].question
          h5.text-info= essay.brainstorm[3].answer
          div.muted= essay.brainstorm[5].question
          h5.text-info= essay.brainstorm[5].answer
        div.span3
          div.muted= essay.brainstorm[7].question
          h5.text-info= essay.brainstorm[7].answer
          div.muted= essay.brainstorm[6].question
          h5.text-info= essay.brainstorm[6].answer
          div.muted= essay.brainstorm[8].question
          h5.text-info= essay.brainstorm[8].answer
      #description.tab-pane.active
        p= essay.description

block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor
    .main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='context') Based on the description you've already begun, write a paragraph or two of context. Some context may already have seeped into your description, but challenge yourself to go further. This will help you dive deeper into the memory. For example, think about where the memory took place, what led up to it, who was involved, or maybe how long it took (Write more now, edit later).
          .controls
            textarea.desc.input-xlarge(type='text', rows="10", name="context")=essay.context
        div
          .btn-group
            a.btn.btn-small(href="#videoModal", data-toggle="modal")
              i.icon-facetime-video
              | Video
            a.btn.btn-small(href="#sampleModal", data-toggle="modal")
              i.icon-facetime-video
              | Samples
          button.btn.btn-info.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#input').focus(); }

  #videoModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Context Video
    .modal-body
      iframe.well(src='http://player.vimeo.com/video/68256972?title=0&amp;byline=0&amp;portrait=0', width='500', height='300', frameborder='0', webkitallowfullscreen='webkitAllowFullScreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowFullScreen')
      h5 You've written description, but the admissions committee still needs some background information in order to understand the larger context of this memory. Orient your reader by stepping back from the immediacy of description and help set the scene.
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss
  #sampleModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Context Samples
    .modal-body
      h4 My Brother (context)
      p My brother and I have always been close. He’s only a year younger than I, and when we were little, we did everything together. We shared the same friends, read the same books, played the same sports. Not to say there wasn’t a fair amount of fighting, but even then, we were equally matched. Now, at the hospital, all of that seemed so far in the past. Apparently, they had run a number of tests. Cat scans, MRI’s, peering as far as they could into the recesses of his brain. So far, nothing had come up.
      h4 Swimming (context)
      p I have been a competitive swimmer for the past four years. Being part of my team means waking up before the sunrise and staying after school into the evening. It means weekend meets, strengthening drills, and weight lifting sessions. It feels like I am in the water more than I am not. All my dreams are now aquatic. But it’s the race that really keeps me committed, even though I wasn’t always this way. My learning curve was steep. It took practice and effort to learn the correct and precise formation of the breaststroke, how wide or narrow to spread your arms, when to pull down, and with what kind of strength. But once it’s in you, once you feel the stroke become your own, it’s hard to leave it behind. I’m always waiting for the next race.
      hr
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss