extends ../../layouts/default

block main
  ul#myTab.nav.nav-tabs
    li
      a(href='#brainstorm', data-toggle='tab') Brainstorm
    li
      a(href='#description', data-toggle='tab') Description
    li.active
      a(href='#context', data-toggle='tab') Context
  .tab-content
    #brainstorm.tab-pane
      - for (item in essay.brainstorm)
        - if (essay.brainstorm[item].question)
          div.muted= essay.brainstorm[item].question
          h4.text-info= essay.brainstorm[item].answer
    #description.tab-pane
      h4 Description
      p= essay.description
    #context.tab-pane.active
      h4 Context
      p= essay.context

block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor.row
    .span7.main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='reflection') What is the bigger picture:
          .controls
            textarea#input.desc.input-xlarge(type='text', rows="5", name="reflection")=essay.reflection
        .form-actions
          button.btn.btn-primary.pull-right(type='submit') Save & Continue

  script
    document.ready = function() { $('#input').focus(); }