extends ../../layouts/essay

block main
  div.well(style='min-height:300px')
    ul#myTab.nav.nav-tabs.phase-tabs
      li
        a(href='#brainstorm', data-toggle='tab') Brainstorm
      li
        a(href='#description', data-toggle='tab') Description
      li.active
        a(href='#context', data-toggle='tab') Context
    .tab-content
      #brainstorm.tab-pane
        include ../includes/brainstorm/tab
      #description.tab-pane
        p= essay.description
      #context.tab-pane.active
        p= essay.context

block content
  - var action = 'save'

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type
  #editor
    .main
      form(method="post", action=action, enctype="multipart/form-data")
        if (!essay.isNew)
          input(type="hidden", name="_method", value="PUT")
        .control-group
          label.control-label(for='reflection') To begin writing reflection, look back over your description and context and ask
            | yourself, why was this event so important to me? What did I learn from it? Why
            | has it made such a lasting impression on me? And then, push yourself even further
            | and ask, what might I be learning about people in general, or the world, or the way
            | things work? (Your insights don’t have to be groundbreakingly original, but you’ll find that
            | if you keep your reflections in your own voice, you'll steer clear of the pitfalls of
            | cliché.)
          .controls
            textarea.desc.input-xlarge(type='text', rows="10", name="reflection")=essay.reflection
        div
          .btn-group
            a.btn.btn-small(href="#videoModal", data-toggle="modal")
              i.icon-facetime-video
              | Video
            a.btn.btn-small(href="#sampleModal", data-toggle="modal")
              i.icon-facetime-video
              | Samples
          button.btn.btn-primary.pull-right.btn-info(type='submit') Save & Continue

  script.
    document.ready = function() { $('#input').focus(); }

  #videoModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Reflection Video
    .modal-body
      mixin video('http://player.vimeo.com/video/71109532?byline=0&amp;portrait=0')
      h5 Reflection is all about going deep, trying to figure out what the memory, event, or experience really means to you. Any memory--however large or small--lends itself to this kind of reflective thinking. It's where you show the admissions committee that you are a critical thinker.
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss
  #sampleModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      h3#myModalLabel Reflection Samples
    .modal-body
      h4 My Brother (reflection)
      p The experience of seeing someone in pain—someone you know and love—is difficult to explain. In part, it is the obvious feeling of helplessness. You can only watch from the outside. Your interventions are meager, in spite of every good intention. But it’s also more than this. In some way, I felt like seeing my brother in the hospital, so out of context like that, was a glimpse into something even more disturbing. It meant that the calm and order of everyday life—all those things we always take for granted—was really very thin, like a delicate skin barely stretched over some deeper and more profound chaos. Maybe pain always works like this, revealing something cosmic and unsettling, even if it only lasts for a brief moment and life resumes again to cover over its traces.
      hr
      h4 Swimming (reflection)
      p When I was young, I remember being taught that “it’s not whether you win or lose, but how you play the game” that matters. I want to say I believe in this. It sounds nice and comforting, something to soothe yourself on those occasions where things don’t go as planned, when you don’t take home the metal, when your team walks off the field heads hung low. And maybe in some deeper way, this is true. Maybe it doesn’t matter in the grand scheme of things. But if you’ve ever felt the rush of adrenaline, the raw force of physical competition, then you know that winning is more than the icing on the cake. In the midst of competition, there is no grand scheme of things. The desire to win is primal, it’s all you can see and feel, and the animal part of you knows this intuitively.
      hr
    .modal-footer
      button.btn(data-dismiss='modal', aria-hidden='true') Dismiss