extends ../layouts/default

block main
  h1= user.name
  p= user.email
  a.btn.btn-primary(href="/") Get Started
  hr
  p Your Essays
  each essay in essays
    .essay
      a.title(href='/essays/'+essay._id+'/brainstorm/start', title=essay.title) Continue
      div.muted= essay.description
      .author
        span Started on&nbsp;
        span= formatDate(essay.createdAt, "%b %d, %Y at %I:%M %p")
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)

block content