mixin question(prompt, q1, q2, q3, maxlength)
  - var a1, a2, a3
  if (essay)
    - a1 = essay.brainstorm.q1.answer
    - a2 = essay.brainstorm.q2.answer
    - a3 = essay.brainstorm.q3.answer
  .question
    h4.question-prompt=prompt
    input(type='hidden', name='brainstorm[prompt]', value='#{prompt}')
    #questions
      .control-group
        label.pull-left.control-label(for='brainstorm[q1][answer]') #{q1}
        span.muted.pull-right #{maxlength}
        .controls
          input(type='hidden', name='brainstorm[q1][question]', value='#{q1}')
          textarea.question.input-xlarge(id='q1', required, maxlength=140, rows=2, type='text', name="brainstorm[q1][answer]")=a1
      .control-group
        label.pull-left.control-label(for='brainstorm[q2][answer]') #{q2}
        span.muted.pull-right #{maxlength}
        .controls
          input(type='hidden', name='brainstorm[q2][question]', value='#{q2}')
          textarea.question.input-xlarge(id='q2', required, maxlength=140, rows=2, type='text', name="brainstorm[q2][answer]")=a2
      .control-group
        label.pull-left.control-label(for='brainstorm[q3][answer]') #{q3}
        span.muted.pull-right #{maxlength}
        .controls
          input(type='hidden', name='brainstorm[q3][question]', value='#{q3}')
          textarea.question.input-xlarge(id='q3', maxlength=140, rows=2, type='text', name="brainstorm[q3][answer]")=a3