.item
  p= essay.brainstorm.prompt
  .muted= essay.brainstorm.q1.question
  h5.text-info= essay.brainstorm.q1.answer
  .muted= essay.brainstorm.q2.question
  h5.text-info= essay.brainstorm.q2.answer
  .muted= essay.brainstorm.q3.question
  h5.text-info= essay.brainstorm.q3.answer